/** ==== Global ====**/
@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans/opensans-regular-webfont.eot');
    src: url('../fonts/opensans/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/opensans/opensans-regular-webfont.ttf') format('truetype'),
         url('../fonts/opensans/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/opensans/opensans-semibold-webfont.eot');
    src: url('../fonts/opensans/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans/opensans-semibold-webfont.woff2') format('woff2'),
         url('../fonts/opensans/opensans-semibold-webfont.woff') format('woff'),
         url('../fonts/opensans/opensans-semibold-webfont.ttf') format('truetype'),
         url('../fonts/opensans/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'poppinsmedium';
    src: url('../fonts/poppins/poppins-medium-webfont.eot');
    src: url('../fonts/poppins/poppins-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/poppins/poppins-medium-webfont.woff2') format('woff2'),
         url('../fonts/poppins/poppins-medium-webfont.woff') format('woff'),
         url('../fonts/poppins/poppins-medium-webfont.ttf') format('truetype'),
         url('../fonts/poppins/poppins-medium-webfont.svg#poppinsmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'poppinsregular';
    src: url('../fonts/poppins/poppins-regular-webfont.eot');
    src: url('../fonts/poppins/poppins-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/poppins/poppins-regular-webfont.woff2') format('woff2'),
         url('../fonts/poppins/poppins-regular-webfont.woff') format('woff'),
         url('../fonts/poppins/poppins-regular-webfont.ttf') format('truetype'),
         url('../fonts/poppins/poppins-regular-webfont.svg#poppinsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: poppinsmedium;
    font-size: 35px;
}

h2 {
    font-family: poppinsmedium;
    font-size: 35px;
}

h6 {
    font-family: poppinsmedium;
    font-size: 16px;
}


/** ==== Banner ====**/

.title-white {
    color: #fff;
}

section.banner {
    background-image: url(../img/banner.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    padding: 100px 0px 180px 0px;
    overflow: auto;
}

p.banner-txt {
    position: relative;
    padding-right: 35%;
    padding-top: 25px;
    margin-bottom: 50px;
    padding-left: 50px;
    font-family: open_sansregular;
    color: #fff;
}

p.banner-txt::before {
    margin-top: 7px;
    margin-right: 15px;
    display: block;
    position: absolute;
    content: '';
    left: 0;
    width: 30px;
    border-top: 1px solid #fff;
}

button.purchase {
    height: 100%;
    padding: 16px 40px;
    color: #000000;
    font-family: poppinsregular;
    letter-spacing: 3px;
    border-radius: 0;
    background-color: #ffe9e2;
    font-size: 11px;
    border: none;
}

button.purchase:hover {
    transition: 0.2s;
    color: #fff;
    background-color: #000000;
}

button.purchase:focus {
    outline: none;
}

/** ==== Products Small ====**/

section.products-small {
    padding: 80px 0px;
}

.title-black {
    color: #000000;
}

div.new::before {
    font-family: poppinsmedium;
    content: 'NEW';
    width: 15%;
    background-color: #ffe9e2;
    position: absolute;
    right: 0;
    font-size: 10px;
    letter-spacing: 2px;
    padding: 0 10px;
}

div.sale::before {
    font-family: poppinsmedium;
    content: '15%';
    width: 15%;
    background-color: #ffe9e2;
    position: absolute;
    right: 0;
    font-size: 10px;
    letter-spacing: 2px;
    padding: 0 14px;
}

.new-title {
    position: relative;
}

.new-title::after {
    content: '';
    border: 1px solid #000000;
    position: absolute;
    left: 0;
    bottom: -20px;
    width: 30px;
}

section.products-small .col-lg-3 {
    padding-top: 40px;
}

section.products-small p {
    font-family: poppinsmedium;
}

section.products-small span {
    color: #959494;
    font-family: open_sansregular;
}

.products-hover {
    padding-top: 35%;
    left: 0;
    position: absolute;
    width: 100%;
    height: 290px;
    opacity: 0;
}

.products-hover:hover {
    transition: 0.2s;
    opacity: 0.8;
    background-color: #fff;
}

.products-hover-icons-wrap {
    display: inline-flex;
}

.products-hover-icons-wrap i{
    padding: 15px;
    border: 1px solid #000000;
}

.products-hover-icons-wrap i:hover {
    cursor: pointer;
    transition: 0.4s;
    color: #fff;
    background-color: #000000;
}

/** ==== Products Large ====**/

section.products-large {
    padding: 60px 0px;
}

.products-large-left img,
.products-large-right img {
    float: right;
    padding-bottom: 40px;
}

.products-large-left {
    background-color: #ece8e5;
    padding: 40px;
    width: 100%;
    height: 100%;
    animation-duration: 1s;
}

.products-large-right {
    background-color: #5c595d;
    padding: 40px;
    width: 100%;
    height: 100%;
    animation-duration: 1s;
}

.products-large-left span,
.products-large-right span {
    position: absolute;
    bottom: 50px;
    left: 60px;
    color: black;
    font-family: open_sansregular;
    font-size: 30px;
}

.products-large-left p,
.products-large-right p {
    font-size: 12px;
    font-family: poppinsregular;
    letter-spacing: 2px;
}

.products-large-left h2,
.products-large-right h2 {
    font-size: 20px;
    font-family: poppinsmedium;
    letter-spacing: 2px;
}

.product-large-txt-wrap {
    position: absolute;
}

.products-large-left sup,
.products-large-right sup {
    font-size: 16px;
    padding-right: 15%;
    top: -1.0em;
}

.products-large-right p,
.products-large-right h2,
.products-large-right span,
.products-large-right sup {
    color: #fff;
}


/** ==== Testemonials ====**/

section.testemonials {
    padding: 80px 0px;
    height: 350px;
}

section.testemonials .container {
    position: relative;
}

section.testemonials p {
    padding: 25px 20%;
    font-family: open_sansregular;
    color: #959494;
    margin: 0;
}

section.testemonials span {
    font-family: poppinsregular;
    letter-spacing: 2px;
    font-size: 12px;
}

#arrow-left {
    z-index: 2;
    width: 50px;
    position: absolute;
    left: 7%;
    top: 60px;
    color: #211f1f;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg)
}

#arrow-right {
    z-index: 2;
    width: 50px;
    position: absolute;
    right: 7%;
    top: 60px;
    color: #211f1f;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

img.testemonial-img {
    width: 100px;
    border-radius: 50%;
}

span.testemonial-quotations-wrap {
    position: relative;
}

span.testemonial-quotations-wrap i {
    position: absolute;
    font-size: 60px;
    color: #ececec;
    z-index: -1;
    top: -45px;
    left: -46px;
}

.testemonials-one,
.testemonials-two {
    left: 0;
    right: 0;
    position: absolute;
}

.show {
    display: block;
}

.no-show {
    display: none;
}

.opacity-zero {
    opacity: 0;
}

.opacity-full {
    opacity: 1;
}

/** ==== Blog ====**/

section.blog {
    padding-top: 80px;
    padding-bottom: 120px;
}

section.blog .col-lg-4:hover > .blog-box {
    transition: 0.4s;
    transform: scale(1.1);
}

section.blog .col-lg-4:hover > img {
    transition: 0.4s;
    filter: brightness(70%);
    
}

div.blog-box {
    transition: 0.4s;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 8% 10%;
    padding: 5%;
    text-align: left;
    background-color: #fff;
}

div.blog-box:hover {
    
}

div.blog-box p.blog-category {
    font-size: 11px;
    font-family: poppinsregular;
    letter-spacing: 2px;
}

div.blog-box h2 {
    position: relative;
    font-size: 15px;
    font-family: poppinsmedium;
}

div.blog-box h2::after {
    content: '';
    border: 1px solid #b2b2b2;
    position: absolute;
    left: 0;
    bottom: -15px;
    width: 50px;
}

div.blog-box p.blog-author {
    font-family: open_sansregular;
    font-size: 14px;
    color: #b2b2b2;
    padding-top: 20px;
    margin: 0;
}

/** ==== Footer ====**/

section.footer {
    background-color: #211f1f;
    padding-bottom: 60px;
}

section.footer a>p,
section.footer p {
    font-family: open_sansregular;
    font-size: 12px;
    color: #b0afaf;
    margin-bottom: 8px;
}

section.footer a:hover {
    color: #fff;
    text-decoration: none;
}

section.footer a>p:hover {
    color: #fff;
}

div.footer-col-wrap i {
    color: #fff;
    margin-top: 15px;
    font-size: 12px;
    padding-right: 8%;
}

div.footer-col-wrap {
    padding: 60px 0;
}

div.footer-col-wrap h6{
    margin-bottom: 15px;
}

.footer-cards i {
    padding-left: 3%;
    color: #fff;
}

.footer-copyright {
    font-size: 10px;
    letter-spacing: 2px;
}

/** ==== Media Queries ====**/

@media screen and (max-width: 1200px) {
    .products-hover {
        height: 210px
    }

    .products-large-right {
        margin-top: 30px;
    }
}

@media screen and (max-width: 992px) {
    .products-hover {
        height: 325px;
        padding-top: 40%;
    }

    #arrow-right {
        right: 0;
    }

    #arrow-left {
        left: 0;
    }

    section.blog .col-lg-4 {
        padding-bottom: 30px;
    }

    div.blog-box {
        margin: 8% 14%;
    }

    p.banner-txt {
        padding-right: 0;
    }
    
}

@media screen and (max-width: 768px) {
    .products-hover {
        height: 240px;
        padding-top: 35%;
    }
    
}

@media screen and (max-width: 576px) {
    .products-hover {
        height: 81%;
        padding-top: 40%;
    }

    .products-large-left img,
    .products-large-right img {
        width: 60%;
    }
    
}

@media screen and (max-width: 470) {
    .products-hover {
        height: 71%;
        padding-top: 40%;
    }

    .products-large-left img,
    .products-large-right img {
        width: 40%;
    }
    
}